/*fonts start*/
@font-face{
	src: url(../fonts/Quicksand-Bold.ttf);
	font-family: Quicksand-Bold;
}
@font-face{
	src: url(../fonts/SourceSansPro-Regular.ttf);
	font-family: SourceSansPro-Regular;
}
@font-face{
	src: url(../fonts/SourceSansPro-Bold.ttf);
	font-family: SourceSansPro-Bold;
}
@font-face{
	src: url(../fonts/SourceSansPro-SemiBold.ttf);
	font-family: SourceSansPro-SemiBold;
}
@font-face{
	src: url(../fonts/SourceSansPro-Light.ttf);
	font-family: SourceSansPro-Light;
}
@font-face{
	src: url(../fonts/SourceSansPro-Italic.ttf);
	font-family: SourceSansPro-Italic;
}
/*fonts end*/


/*common start*/
body{
	font-family: SourceSansPro-Regular;
	font-size: 18px;
	font-weight: 400;
	color: #999999;
  padding:0;
}
/*common end*/
header{
	background-color: #37517E;
	background-image:url(../images/header-side.png);
	background-repeat: no-repeat;
	background-size:500px;
	background-position:right;
}
.n-p{padding:0;
margin:0;}
.logo img{width:170px;}
.menu{}
.menu ul li a{}
.navbar-light .navbar-nav .nav-link{
    color: rgb(255 243 243 / 90%);
    font-family: Quicksand-Bold;
    font-size:18px;
    margin-left: 20px;
}
.navbar-light .navbar-nav .nav-link:hover
{color:#50BCF0;}
.common-details{padding: 87px 0 80px 0;}
.common-details h1{
    font-family: Quicksand-Bold;
	font-size: 36px;
	line-height: 57px;
	}
.common-details p{
	font-family:SourceSansPro-Light;
	font-size: 18px;
	padding: 18px 0 18px 0;
    letter-spacing: .5px;
    line-height: 33px;}
.common-details a{}
.btn-custom{
	font-family: Quicksand-Bold;
	font-size: 17px;
   color:white;
   background-color:#50BCF0;
   padding: 10px 18px;
   margin-right: 35px;}
.btn-custom:hover{
   color:#50BCF0;
   background-color:white;
}
 .icn i{
  font-size: 45px;
  color:#50BCF0;
  display: inline-flex;
  align-items: center;}
  /* Partner Section CSS*/
  .partner-content{padding:80px 0 20px 0;}
  .partner-content img{width:75px;}
  /*Global Support*/
  .global-support{
  	padding:100px 0 40px 0;
  }
  .custom-card{
  	border:none;
  	box-shadow: 0 0 7px;
  	padding: 30px 0 30px 20px;
  	margin-right:20px;
  	}
  .custom-card i{font-size: 45px;
  	color:#50BCF0;
  	margin-left:11px;}

.global-details{margin-left: 30px;}
.global-details h4{
	font-family:Quicksand-Bold;
	color:#1D295D;
	line-height:40px;
	padding-bottom:12px;
}
.global-details p{
	font-family:SourceSansPro-Regular;
   color:#1D295D;
   line-height: 35px;
  padding-bottom:25px;}
.global-details a{
	font-family:Quicksand-Bold;
	text-decoration:none;}
.global-details i{}
.global-details a:hover{color:#1D295D;}
/* banner-two part--*/
.banner-two{
	background-color:#99d9eabf;
	background-image:url(../images/bannner2.png);
	background-repeat: no-repeat;
	background-size:500px;
	background-position:left;
}
.banner-two h1{color:#1D295D;}
.banner-two p{color:#1D295D;} 
/* All your questions*/
.questions{padding: 80px 0 80px 0;}
.questions h5{
      font-family:Quicksand-Bold;
      color:#1D295D;
      font-size: 23px;
      letter-spacing: 1px;
      word-spacing: 2px;
     line-height: 39px;
}
.q1{padding-right: 20px;}
.q1 ul li i{
	background-color:#1D295D;
	color:#50BCF0;}
.q1 ul li p{
	font-family:SourceSansPro-Regular;
	color:#1D295D;}
/* Features Section*/
.features{
	background-color:#99d9eabf;
	padding:80px 0 80px 0;}
.features h5{
	color:#1D295D;
   font-family:Quicksand-Bold;
   font-size: 23px;}
.features p{font-family:SourceSansPro-Regular;
	color:#1D295D;
padding:18px 0 80px 0;}

.custom-card-2nd{
	margin-bottom :50px;
  	border:none;
  	box-shadow: 0 0 7px;
  	margin-right:20px;
  	}
    .custom-card-2nd:hover{transform:scale(1.1);
      transition:.3s;}
  .custom-card-2nd i{font-size: 45px;
  	color:#50BCF0;
  	margin-left:11px;
  	padding-top:15px;}
  	.custom-card-2nd p{padding:0;}
    /* Solutions*/
    .solution{background-color: #37517E;
      padding:80px 0 80px 0;}
    /* Positive Review*/
    .positive-reviews{background-color: #99d9eabf;
      padding:80px 0 80px 0;
}
    .single-positive-review{float:left;
      margin-right: 100px;}

    .app-icn{font-family: Quicksand-Bold;
  font-size: 17px;
  border:2px solid #50BCF0;
  padding:10px 20px;
   margin:40px 0 20px 0;}
   .app-icn:hover{background-color:#1D295D;
   border:none; }

    /*Price*/
    .price{padding:80px 0 80px 0;}
    .price h5{
    color:#1D295D;
   font-family:Quicksand-Bold;
   font-size: 23px;}
    .price p{
 font-family:SourceSansPro-Regular;
color:#1D295D;
padding:18px 0 80px 0;}
.custom-card-3rd{
    box-shadow: 0 0 7px;
     padding:40px 0 0 40px;}
.custom-card-3rd:hover{transform: scale(1.1);
z-index: 1;
border:1px solid #50BCF0;
transition: .3s;}
.dollar{
font-size:18px;}
.custom-list{color:#1D295D;
margin-left:-15px;
}
.btn-custom-2{
  font-family: Quicksand-Bold;
  font-size: 17px;
  border:2px solid #50BCF0;
padding:10px 20px;
margin:40px 0 20px 0;}
.btn-custom-2:hover{background-color:#50BCF0;
transition:.3s; }
/* Form Part*/
.form-part{
  background-color: #99d9eabf;
  padding:100px 0 100px 0;
}
.custom-email-field{
  height:55px;
}
.custom-email-field:focus{box-shadow: none;}
.btn-custom-3{font-family: Quicksand-Bold;
    font-size: 17px;
    color: white;
    background-color: #50BCF0;
    padding: 14px 28px;
    color: white;
    margin-top: 35px;}
    
   .btn-custom-3:hover{background-color: white;
    color:#50BCF0;}
    .btn-custom-3:focus{box-shadow: none;}
.subscribe-now h5{
  font-family:Quicksand-Bold;
  color:#1D295D;
  margin-top:8px;}
    /*footer*/
    .footer{background-color: #37517E;
      padding:80px 0 80px 0;}
  .footer1{}
  .footer1 ul{}
  .footer ul li{list-style: none;}
  .footer1 ul li a{text-decoration: none;
    color:white;
    margin:20px 0 0 -30px;}
.custom-facebook{color:white;
font-size:37px;}
.custom-twitter{color:#50BCF0;
font-size:37px;}
.custom-linkedin{color:#004182;
font-size:37px;}
.custom-snapchat{color:#F2EF01;
font-size:37px;}
.custom-whatsapp{color:#50E266;
font-size:37px;}
